In [1]:
import pandas as pd

# Updated file path to the CSV file with the new file name
file_path = "../Preprocessing/Data_reserved/HA_modified.csv"

# Read the CSV file into a pandas DataFrame
new_df = pd.read_csv(file_path)

In [2]:
# new_df.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Hemisphere,Heart Attack Risk,Systolic_BP,Diastolic_BP
0,67,1,208,72,0,0,1,0,0,4.168189,...,261404,31.251233,286,0,6,5,1,0,158.0,88.0
1,21,1,389,98,1,1,1,1,1,1.813242,...,285768,27.194973,235,1,7,4,0,0,165.0,93.0
2,21,0,324,72,1,0,0,0,0,2.078353,...,235282,28.176571,587,4,4,3,0,0,174.0,99.0
3,84,1,383,73,1,1,1,0,1,9.828130,...,125640,36.464704,378,3,4,4,0,0,163.0,100.0
4,66,1,318,93,1,1,1,1,0,5.804299,...,160555,21.809144,231,1,5,1,0,0,91.0,88.0

### Data Infomation

In [3]:
# new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8763 entries, 0 to 8762
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Age                              8763 non-null   int64
 1   Sex                              8763 non-null   int64
 2   Cholesterol                      8763 non-null   int64
 3   Heart Rate                       8763 non-null   int64
 4   Diabetes                         8763 non-null   int64
 5   Family History                   8763 non-null   int64
 6   Smoking                          8763 non-null   int64
 7   Obesity                          8763 non-null   int64
 8   Alcohol Consumption              8763 non-null   int64
 9   Exercise Hours Per Week          8763 non-null   float64
 10  Diet                             8763 non-null   int64
 11  Previous Heart Problems          8763 non-null   int64
 12  Medication Use                   8763 non-null   int64
 13  Stress Level                     8763 non-null   int64
 14  Sedentary Hours Per Day          8763 non-null   float64
 15  Income                           8763 non-null   int64
 16  BMI                              8763 non-null   float64
 17  Triglycerides                    8763 non-null   int64
 18  Physical Activity Days Per Week  8763 non-null   int64
 19  Sleep Hours Per Day              8763 non-null   int64
 20  Continent                        8763 non-null   int64
 21  Hemisphere                       8763 non-null   int64
 22  Heart Attack Risk                8763 non-null   int64
 23  Systolic_BP                      8763 non-null   float64
 24  Diastolic_BP                     8763 non-null   float64
dtypes: float64(5), int64(20)
memory usage: 1.7 MB

### Data Preprocessing

In [4]:
# # List of columns to convert from object to numeric types
# object_columns = ['Sex','Diet']

# # Convert 'Sex' column to numeric (if applicable)
# new_df['Sex'] = new_df['Sex'].map({'Male': 0, 'Female': 1})  # Assuming Male: 0, Female: 1

##### Converting Object Columns to Numeric Using LabelEncoder

In [5]:
# from sklearn.preprocessing import LabelEncoder

# # Selecting the columns for label encoding
# label_cols = ['Country', 'Continent', 'Hemisphere']

# # Initialize LabelEncoder
# label_encoder = LabelEncoder()

# # Convert selected object columns to numeric using LabelEncoder
# for col in label_cols:
#     new_df[col] = label_encoder.fit_transform(new_df[col])
# from sklearn.preprocessing import LabelEncoder

# # Selecting the columns for label encoding
# label_cols = ['Country', 'Continent', 'Hemisphere']

# # Initialize LabelEncoder
# label_encoder = LabelEncoder()

# # Convert selected object columns to numeric using LabelEncoder
# for col in label_cols:
#     new_df[col] = label_encoder.fit_transform(new_df[col])

In [6]:
# from sklearn.preprocessing import OneHotEncoder

# # Columns to be one-hot encoded
# one_hot_cols = ['Country', 'Continent', 'Hemisphere']

# # Initialize OneHotEncoder
# one_hot_encoder = OneHotEncoder(sparse=False)

# # Perform one-hot encoding on the selected columns
# one_hot_encoded = one_hot_encoder.fit_transform(df[one_hot_cols])

# # Get feature names after one-hot encoding
# one_hot_feature_names = one_hot_encoder.get_feature_names_out(one_hot_cols)

# # Create DataFrame with one-hot encoded columns
# one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=one_hot_feature_names)

# # Concatenate the new one-hot encoded DataFrame with the original DataFrame
# df = pd.concat([df.drop(one_hot_cols, axis=1), one_hot_encoded_df], axis=1)

In [7]:
# from sklearn.preprocessing import OneHotEncoder

# # Columns to be one-hot encoded
# one_hot_cols = ['Country', 'Continent', 'Hemisphere']

# # Initialize OneHotEncoder
# one_hot_encoder = OneHotEncoder(sparse=False)

# # Perform one-hot encoding on the selected columns
# one_hot_encoded = one_hot_encoder.fit_transform(new_df[one_hot_cols])

# # Get feature names after one-hot encoding
# one_hot_feature_names = one_hot_encoder.get_feature_names_out(one_hot_cols)

# # Create DataFrame with one-hot encoded columns
# one_hot_encoded_df = pd.DataFrame(one_hot_encoded, columns=one_hot_feature_names)

# # Concatenate the new one-hot encoded DataFrame with the original DataFrame
# new_df = pd.concat([new_df.drop(one_hot_cols, axis=1), one_hot_encoded_df], axis=1)

In [8]:
# new_df.head()

,Age,Sex,Cholesterol,Heart Rate,Diabetes,Family History,Smoking,Obesity,Alcohol Consumption,Exercise Hours Per Week,...,Income,BMI,Triglycerides,Physical Activity Days Per Week,Sleep Hours Per Day,Continent,Hemisphere,Heart Attack Risk,Systolic_BP,Diastolic_BP
0,67,1,208,72,0,0,1,0,0,4.168189,...,261404,31.251233,286,0,6,5,1,0,158.0,88.0
1,21,1,389,98,1,1,1,1,1,1.813242,...,285768,27.194973,235,1,7,4,0,0,165.0,93.0
2,21,0,324,72,1,0,0,0,0,2.078353,...,235282,28.176571,587,4,4,3,0,0,174.0,99.0
3,84,1,383,73,1,1,1,0,1,9.828130,...,125640,36.464704,378,3,4,4,0,0,163.0,100.0
4,66,1,318,93,1,1,1,1,0,5.804299,...,160555,21.809144,231,1,5,1,0,0,91.0,88.0

##### Handling 'Blood Pressure' Column

In [9]:
# # Split 'Blood Pressure' column into 'Systolic_BP' and 'Diastolic_BP'
# new_df[['Systolic_BP', 'Diastolic_BP']] = new_df['Blood Pressure'].str.split('/', expand=True)

# # Convert 'Systolic_BP' and 'Diastolic_BP' columns to numeric
# new_df['Systolic_BP'] = pd.to_numeric(new_df['Systolic_BP'], errors='coerce')
# new_df['Diastolic_BP'] = pd.to_numeric(new_df['Diastolic_BP'], errors='coerce')

# # Drop the original 'Blood Pressure' column
# new_df = new_df.drop('Blood Pressure', axis=1)

In [10]:
# new_df.info()

### Spliting data into Lifestyle,Medication and Demographic factors

##### Lifestyle Factor

In [11]:
lifestyle_factors = new_df[['Smoking', 'Alcohol Consumption', 'Exercise Hours Per Week', 'Diet', 'Stress Level', 'Sedentary Hours Per Day', 'BMI', 'Physical Activity Days Per Week', 'Sleep Hours Per Day', 'Heart Attack Risk']]
lifestyle_factors.head()

,Smoking,Alcohol Consumption,Exercise Hours Per Week,Diet,Stress Level,Sedentary Hours Per Day,BMI,Physical Activity Days Per Week,Sleep Hours Per Day,Heart Attack Risk
0,1,0,4.168189,0,9,6.615001,31.251233,0,6,0
1,1,1,1.813242,2,1,4.963459,27.194973,1,7,0
2,0,0,2.078353,1,9,9.463426,28.176571,4,4,0
3,1,1,9.828130,0,9,7.648981,36.464704,3,4,0
4,1,0,5.804299,2,6,1.514821,21.809144,1,5,0

##### Medical Indicators

In [12]:
medical_indicators =new_df[['Cholesterol', 'Heart Rate', 'Systolic_BP', 'Diastolic_BP', 'Medication Use', 'Triglycerides', 'Previous Heart Problems', 'Heart Attack Risk']]
medical_indicators.head()

,Cholesterol,Heart Rate,Systolic_BP,Diastolic_BP,Medication Use,Triglycerides,Previous Heart Problems,Heart Attack Risk
0,208,72,158.0,88.0,0,286,0,0
1,389,98,165.0,93.0,0,235,1,0
2,324,72,174.0,99.0,1,587,1,0
3,383,73,163.0,100.0,0,378,1,0
4,318,93,91.0,88.0,0,231,1,0

##### Demographic Influences

In [16]:
# # Demographic factors
# demographic_influences = new_df[
#     ['Country_0', 'Country_1', 'Country_2', 'Country_3', 'Country_4', 'Country_5', 'Country_6', 'Country_7', 'Country_8',
#      'Country_9', 'Country_10', 'Country_11', 'Country_12', 'Country_13', 'Country_14', 'Country_15', 'Country_16',
#      'Country_17', 'Country_18', 'Country_19', 'Continent_0', 'Continent_1', 'Continent_2', 'Continent_3', 'Continent_4',
#      'Continent_5', 'Hemisphere_0', 'Hemisphere_1', 'Age', 'Sex', 'Income', 'Family History', 'Obesity', 'Heart Attack Risk']
# ]
# demographic_influences.head()

In [1]:
# # Create a dictionary to map column numbers to their real names
# column_mapping = {
#     'Country_0': 'United States', 'Country_1': 'Canada', 'Country_2': 'United Kingdom', 'Country_3': 'Germany',
#     'Country_4': 'Australia', 'Country_5': 'France', 'Country_6': 'Netherlands', 'Country_7': 'Brazil',
#     'Country_8': 'Italy', 'Country_9': 'Spain', 'Country_10': 'India', 'Country_11': 'Mexico',
#     'Country_12': 'South Africa', 'Country_13': 'Argentina', 'Country_14': 'China', 'Country_15': 'Japan',
#     'Country_16': 'Russia', 'Country_17': 'Saudi Arabia', 'Country_18': 'South Korea', 'Country_19': 'Other',
#     'Continent_0': 'Africa', 'Continent_1': 'Asia', 'Continent_2': 'Europe', 'Continent_3': 'North America',
#     'Continent_4': 'Oceania', 'Continent_5': 'South America', 'Hemisphere_0': 'Northern Hemisphere',
#     'Hemisphere_1': 'Southern Hemisphere'
# }

# # Replace column names in demographic_factors DataFrame
# demographic_influences = demographic_influences.rename(columns=column_mapping)
# demographic_influences.head()

#### Saving Split DataFrames to Separate Files

In [ ]:
# # Define file paths for each split category
# lifestyle_factors_file = 'lifestyle_factors.csv'
# medical_indicators_file = 'medical_indicators.csv'
# demographic_influences_file = 'demographic_influences.csv'

# # Save Lifestyle Factors DataFrame
# lifestyle_factors.to_csv(lifestyle_factors_file, index=False)

# # Save Medical Indicators DataFrame
# medical_indicators.to_csv(medical_indicators_file, index=False)

# # Save Demographic Influences DataFrame
# demographic_influences.to_csv(demographic_influences_file, index=False)

# -------------------------------------------------------------------------------------------------------------